<!doctype html>

<html>

<head>

    <script type="text/javascript">
      window.$crisp = []; window.CRISP_WEBSITE_ID = "75eeec48-f14c-4ebf-aa7b-c70b538b63f4"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();
    </script>
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <meta charset="utf-8" />
  <title>Your App</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>

</head>
<body>
  <div id="root"></div>
</body>
<script type="text/javascript">
  function openChat() {
    $crisp.push(["do", "chat:open"])
  }

   function setDetails(email, nickname) {
      $crisp.push(["set", "user:email", email]);
      $crisp.push(["set", "user:nickname", [nickname]])
    }
    function setCompany(company, interviewName) {
    $crisp.push(["set", "user:company", [company, { employment: ["Job Seeker", interviewName]}]])
    }

</script>
</html>