
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  background-color: white;
}



.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}