
.content {
  padding: 40px;
}

.footer {
  text-align: center;
  height: 50;
  bottom: 0;
}
.header { 
  height: 60px; 
  background-color: white; 
}

@media screen and (max-width: 720px) {
  .content {
   padding: 20px
  }
}