@import '~antd/lib/style/themes/default.less';

.content {
  height: calc(~'100vh - 130px');
  padding: @padding-lg;
}

.footer {
  padding: @layout-footer-padding;
  text-align: center;
}
.header {
  height: @layout-header-height;
  padding: @layout-header-padding;
  background-color: @white;
}

@media screen and (max-width: @screen-md) {
  .content {
    padding: 20px;
  }
}
